# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Direwolf Noodling.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kyle\UnityProjects\Direwolf Noodling\.idea\.idea.Direwolf Noodling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
